<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
    default-autowire="byName">
    
	<context:annotation-config />
	<context:component-scan base-package="com.birdbug.*" />
	
	<tx:annotation-driven />
	<aop:aspectj-autoproxy /> 
	<mvc:annotation-driven />
	
	<bean id="viewResolver"	class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/app/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="propertyConfigurer"
		class="com.birdbug.common.PlatformCfg">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:deploy.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="refreshDB" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="concurrent" value="false" />
        <property name="targetObject">
        	<ref bean="httpCache" />
        </property>
        <property name="targetMethod">
        	<value>refreshDataPool</value>
       	</property>
    </bean>
    
    <bean id="refreshDBTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="refreshDB" />
        </property>
        <property name="cronExpression">
            <!-- value>0 30 0 1 * ?</value> -->
            <value>0/30 * * * * ?</value>
        </property>
    </bean>
    
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
        <property name="triggers">
        	<list>
            	<ref local="refreshDBTrigger" />
        	</list>
        </property>
    </bean>
	
</beans>

 